*.env
key.py
archive/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.pot
*.mo
*.swp
*.swo
*.bak
*.tmp
*.DS_Store
.vscode/
.idea/
node_modules/
dist/
build/
.envrc
.env.local
.env.*.local
coverage/
htmlcov/
.tox/
.nox/
.pytest_cache/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
pip-log.txt
pip-delete-this-directory.txt
.pyre/
.mypy_cache/
.dmypy.json
.pytype/
.pyright/
.pytest_cache/
__init.py__